/* @font-face {
  font-family: star-wars;
  src: url("star-wars-finder/src/fonts/Strjmono.ttf");
} */

nav ul {
  list-style-type: none;
  display: flex;
}
nav li{
  padding-right: 20px;
}
nav li a {
  color: white;
  text-decoration: none;
}
body {
  background-color: black;
  color: white;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}
.heading {
  text-align: center;
}
.content-info {
  color: white;
  display: flex;
  margin-top: 3rem;
  justify-content: space-evenly;
}
.error-message{
  margin-top: 2rem;
  text-align: center;
  color: white;
}
h2{
  margin-top: 0;
  color: yellow;
  
}
form{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  width: 20%;
}
form input{
margin-top: 1rem;
padding:7px 7px ;
border-radius: 8px;
}
form button{
  margin-top: 1rem;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 8px;
}
.right_movies div{
  margin: 16px 0px;
}
/* .content-card{
  border-radius: 10px;
  margin: 10px;
  width: 30%;
  padding: 10px;
  background-color: white;
} */
.page-title{
  color: yellow;
}
